
@include keyframes( pasteIn ){
    from {
        opacity: 0;
        @include translateY( -1.25rem );
    }
    to {
        opacity: 1;
        @include translateY(0);
    }
}

.paste-in {
    @include animation( pasteIn .5s $easeOutExpo );
}

@include keyframes( btnSlideIn ){
    from {
        @include translateX( -120% );
    }
    to {
        @include translateY(0);
    }
}

@include keyframes( btnSlideOut ){
    from {
        @include translateX(0);
    }
    to {
        @include translateY( 120% );
    }
}