
.btn-navbar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .1875rem;
    padding: .25rem;
    background-color: #F5F7FA;

    @include flexbox;
    @include align-items( center );
    @include justify-content( center );

    &.focus, &:focus {
        box-shadow: none;
    }

    @include breakpoint-up( sm ){
        width: 2.8125rem;
        height: 2.8125rem;
    }
}

.btn-xmark {
    padding: 0;
    width: 32px; height: 32px;
    position: relative; opacity: .3;

    @include transition( .5s $easeOutExpo );
    @include box-shadow( none !important );

    &:hover { opacity: .6 }

    &:before, &:after {
        background-color: #333;
        width: 1px; height: 2.0625rem;
        top: -.125rem; left: .9375rem; 
        content: ' '; position: absolute;
    }

    &:before { @include rotate( 45deg )}
    &:after { @include rotate( -45deg )}
}

.btn-bars {
    padding: .75rem .5rem;

    @include flexbox;
    @include flex-direction( column );
    @include justify-content( space-between );

    & > span {
        width: 100%;
        border-bottom: 1px solid #666;
    }
}

.btn-action {

    $color-idle: #4C4C4C;
    $color-active: #008FEE;

    color: $color-idle;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 50rem;
    border: .125rem solid $color-idle;
    overflow: hidden;

    @include box-shadow( none );
    @include transition( border .25, color .25s, box-shadow .25s );

    &:before {
        z-index: -1;
        content: ''; position: absolute;
        top: 0; left: 0;
        width: 150%; height: 100%;
        background: $color-idle;

        @include transform-origin( 0% 100% );
        @include transform( rotate3d( 0,0,1, -45deg ) translate3d(0, -3em, 0 ));
        @include transition( transform .3s, opacity .3s, background-color .3s );
    }

    &:hover, &.active {
        color: #fff;
        border-color: $color-active;

        $shadow: transparentize( $color-active, .3 );
        @include box-shadow( 0 .625rem 1.875rem -.75rem $shadow );

        &:before {
            opacity: 1;
            background-color: $color-active;

            @include transform( rotate3d( 0, 0, 1, 0deg ));
            @include transition-timing-function( $easeOutExpo );
        }
    }

    &.btn-inverted {
        border-color: #fff;
    }
}

.btn-social {
    $color-idle: #D9D9D9;
    color: $color-idle;
    border-radius: 50%;
    height: 2.5rem; width: 2.5rem;
    border: 1px solid $color-idle;
    font-size: 1rem;

    @include flexbox;
    @include align-items( center );
    @include justify-content( center );

    .icon-container {
        @include transition( transform .5s $easeOutExpo );
    }

    &:hover, &.active {
        color: #fff;
        .icon-container {
            @include scale( 1.2 );
        }
    }

    @include breakpoint-up( lg ){
        font-size: 1.375rem;
        border-width: .125rem;
        height: 3.375rem; width: 3.375rem;
    }

}

.btn-primary {
    $primary-color-idle: #00A2F3;
    $primary-color-hover: darken( $primary-color-idle, 5% );

    background-color: $primary-color-idle;
    &:hover, &:active {
        &:not(:disabled):not(.disabled){
            background-color: $primary-color-hover;
        }
    }
}