.list-group {

    .list-group-item {
        border-color: #F1F1F1;
    }

    &.list-compact {
        .list-group-item {
            padding: .25rem 1.25rem;
        }
    }

    &.list-striped {
        .list-group-item:nth-of-type(even){
            background-color: #F7F7F7;
        }
    }

    &.list-sitemap {
        .list-group-item {
            border: 0;
            padding: 0;
            color: inherit;
            line-height: 2;
            background-color: transparent;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: 0; left: 0; right: 0;
                border-bottom: 1px solid darken( #F7F7F7, 20% );

                @include scaleX(0);
                @include transition( transform .5s $easeOutExpo );
            }

            &:hover:before {
                @include scaleX( 0.08 );
            }

            @include breakpoint-up( sm ){
                &:before {
                    right: auto;
                    width: 1.5rem;
                    @include scaleX(0);
                }
                &:hover:before {
                    @include scaleX(1);
                }
            }
        }
    }
}
