
.footer {
    color: #D8D8D8;
    font-size: .8125rem;
    background-color: #303030;    

    .title {
        color: #8E8E8E;
        font-weight: 700;
        font-size: .875rem;
    }

    .text {
        line-height: 1.8;
    }

    .payment {
        .gateway {
            width: 5rem; height: 2.5rem;
            border: 1px solid #E2E2E2;
            border-radius: .3125rem;
    
            @include flexbox;
            @include align-items( center );
            @include justify-content( center );
        }
    }

    .separator {
        border-bottom-color: #292929;
    }

    .copyright {
        color: #D8D8D8;
        font-size: .75rem;
        a {
            color: inherit;
        }
    }
}