// --------------------------------------------------------------------------
// 	Box properties
// --------------------------------------------------------------------------
@mixin box-sizing( $box-model ){
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
// --------------------------------------------------------------------------
@mixin box-shadow( $shadows ){
	-webkit-box-shadow: $shadows;
			box-shadow: $shadows;
}
// --------------------------------------------------------------------------
