// --------------------------------------------------------------------------
//  Responsive screen breakpoints
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@function breakpoint-next( $breakpoint, $breakpoints: $media-breakpoints ){
	$keys: map-keys( $breakpoints ); $index: index( $keys, $breakpoint );
	@return if( $index < length( $keys ), nth( $keys, $index + 1 ), null );
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@function breakpoint-min( $breakpoint, $breakpoints: $media-breakpoints ){
	$min: map-get( $breakpoints, $breakpoint );
    @return if( $min != 0, $min, null );
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@function breakpoint-max( $breakpoint, $breakpoints: $media-breakpoints ){
	$next: breakpoint-next( $breakpoint, $breakpoints );
    @return if( $next, breakpoint-min( $next, $breakpoints ) - .02px, null );
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@mixin breakpoint-up( $breakpoint, $breakpoints: $media-breakpoints ){
	$min: breakpoint-min( $breakpoint, $breakpoints );
    @if $min {
		@media ( min-width: $min ){ @content; }
	}
	@else { @content; }
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@mixin breakpoint-down( $breakpoint, $breakpoints: $media-breakpoints ){
	$max: breakpoint-max( $breakpoint, $breakpoints );
    @if $max {
		@media ( max-width: $max ){ @content; }
    }
	@else { @content; }
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@mixin breakpoint-between( $start, $end, $breakpoints: $media-breakpoints ){
	// ----------------------------------------------------------------------
	$min: breakpoint-min( $start, $breakpoints );
    $max: breakpoint-max( $end, $breakpoints );
	// ----------------------------------------------------------------------
    @if $min != null and $max != null {
		@media ( min-width: $min ) and ( max-width: $max ){ @content; }
    }
    // ----------------------------------------------------------------------
	@else if $max == null {
		@include breakpoint-up( $start, $breakpoints ){ @content; }
    }
    // ----------------------------------------------------------------------
	@else if $min == null {
		@include breakpoint-down( $end, $breakpoints ){ @content; }
    }
	// ----------------------------------------------------------------------
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@mixin breakpoint-only( $breakpoint, $breakpoints: $media-breakpoints ){
	$min: breakpoint-min( $breakpoint, $breakpoints );
	$max: breakpoint-max( $breakpoint, $breakpoints );
	// ----------------------------------------------------------------------
	@if $min != null and $max != null {
		@media ( min-width: $min ) and ( max-width: $max ){ @content; }
	}
	// ----------------------------------------------------------------------
	@else if $max == null {
		@include breakpoint-up( $breakpoint, $breakpoints ){ @content; }
	}
	// ----------------------------------------------------------------------
	@else if $min == null {
		@include breakpoint-down( $breakpoint, $breakpoints ){ @content; }
	}
	// ----------------------------------------------------------------------
}
// --------------------------------------------------------------------------
