
.chatbar {
    background-color: #00A2F3;

    .caption {
        margin: 0;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;

        @include breakpoint-up( lg ){
            font-size: 2rem;
        }
    }
}