.plans {
    
    .plan {
        position: relative;
        margin-left: -1px;
        margin-top: 1rem;

        padding: .5rem .5rem;

        @include breakpoint-up( md ){
            margin-top: 0;
        }

        @include breakpoint-up( lg ){
            padding: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        &.plan-featured {
            z-index: 50;
            position: relative;

            .plan-innerset {
                border-color: #008FEE;
            }
            .plan-header {
                color: #fff;
                background-color: #008FEE;

                .plan-row {
                    border-color: transparent;
                }
            }
            .plan-subheader {
                color: #fff;
                border-color: transparent;
                background-color: #007FDE;
            }
        }
    }

    .plan-innerset {
        border-radius: .25rem;
        border: 1px solid #F1F1F1;
        overflow: hidden;

        @include transition( border-color .5s $easeOutExpo );
    }

    .plan-row {
        text-align: center;
        border-top: 1px solid #F1F1F1;
        &:first-child { border-top: 0 }
    }

    .price-now {
        font-size: 1rem;
        margin-left: -.125rem;
        margin-right: -.125rem;
        @include justify-content( center );

        .primary { 
            font-weight: 700;
            font-size: 3.125rem;
            line-height: 0.8;
        }

        .partial {
            padding-left: .125rem;
            padding-right: .125rem;
        }
    }

    .list-plan {
        .list-group-item {
            border: 0;
            padding: .25rem 0;
        }
    }
}