
.services {
    .service {
        padding: 1.25rem 0;

        @include breakpoint-up( sm ){
            padding: 0;
        }
    }
    .service-image {

        @include flexbox;
        @include align-items( center );
        @include justify-content( center );

        .img { max-width: 100% }
    }
}