.social {
    background-color: #F7F7F7;

    .social-box {
        @include flexbox;
    }

    .social-icon {
        font-size: 2rem;
        line-height: 1;
    }

    .social-counter {
        width: 3.125rem;
        margin: .125rem;
        color: #969696;
        border: 1px solid #CDCDCD;
        border-radius: .1875rem;

        @include flexbox;
        @include align-items( center );
        @include justify-content( center );
    }

    @include breakpoint-up( md ){

        .social-counter {
            width: 3.75rem;
        }

        .social-icon {
            font-size: 2.25rem;
        }
    }
}