.icon-container {
  width: 1.5rem;
  height: 1.5rem;
  display: table;
}

.icon-container > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.icon-container.inverted {
  color: #fff;
  background-color: #4C4C4C;
}

.icon-container.icon-container-lg {
  width: 2.5rem;
  height: 2.5rem;
}

.list-group .list-group-item {
  border-color: #F1F1F1;
}

.list-group.list-compact .list-group-item {
  padding: .25rem 1.25rem;
}

.list-group.list-striped .list-group-item:nth-of-type(even) {
  background-color: #F7F7F7;
}

.list-group.list-sitemap .list-group-item {
  border: 0;
  padding: 0;
  color: inherit;
  line-height: 2;
  background-color: transparent;
  position: relative;
}

.list-group.list-sitemap .list-group-item:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #c4c4c4;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.list-group.list-sitemap .list-group-item:hover:before {
  -webkit-transform: scaleX(0.08);
  transform: scaleX(0.08);
}

@media (min-width: 576px) {
  .list-group.list-sitemap .list-group-item:before {
    right: auto;
    width: 1.5rem;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  .list-group.list-sitemap .list-group-item:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.stars {
  color: #008FEE;
  font-size: .75rem;
}

.fs-8 {
  font-size: .5rem !important;
}

.fs-9 {
  font-size: .5625rem !important;
}

.fs-10 {
  font-size: .625rem !important;
}

.fs-11 {
  font-size: .6875rem !important;
}

.fs-12 {
  font-size: .75rem !important;
}

.fs-13 {
  font-size: .8125rem !important;
}

.fs-14 {
  font-size: .875rem !important;
}

.fs-15 {
  font-size: .9375rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fs-17 {
  font-size: 1.0625rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-22 {
  font-size: 1.375rem !important;
}

.fs-24 {
  font-size: 1.5rem !important;
}

.fs-26 {
  font-size: 1.625rem !important;
}

.fs-28 {
  font-size: 1.75rem !important;
}

.fs-30 {
  font-size: 1.875rem !important;
}

.fs-32 {
  font-size: 2rem !important;
}

.fs-34 {
  font-size: 2.125rem !important;
}

.fs-36 {
  font-size: 2.25rem !important;
}

.fs-40 {
  font-size: 2.5rem !important;
}

.fw-l {
  font-weight: 300 !important;
}

.fw-n {
  font-weight: 400 !important;
}

.fw-b {
  font-weight: 700 !important;
}

.ff-body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ff-primary {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #4C4C4C;
}

a:hover {
  text-decoration: none;
  color: #00ACE4;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.text-blue {
  color: #0B69FF !important;
}

.text-purple {
  color: #A147FF !important;
}

.text-aqua {
  color: #47B0FF !important;
}

.text-red {
  color: #EB001B !important;
}

.text-orange {
  color: #F79E1B !important;
}

.text-green {
  color: #00B348 !important;
}

.text-navy {
  color: #23599B !important;
}

.text-default {
  color: #4C4C4C !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
}

h1, .h1 {
  font-size: 2.125rem;
}

h2, .h2 {
  font-size: 1.825rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1.125rem;
  line-height: 1.6;
}

h6, .h6 {
  font-size: .9375rem;
}

.uc, .uppercase {
  text-transform: uppercase;
}

.lc, .lowercase {
  text-transform: lowercase;
}

.nb {
  font-size: .75rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.border-light {
  border-color: #F1F1F1 !important;
}

.btn-navbar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .1875rem;
  padding: .25rem;
  background-color: #F5F7FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-navbar.focus, .btn-navbar:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 576px) {
  .btn-navbar {
    width: 2.8125rem;
    height: 2.8125rem;
  }
}

.btn-xmark {
  padding: 0;
  width: 32px;
  height: 32px;
  position: relative;
  opacity: .3;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-xmark:hover {
  opacity: .6;
}

.btn-xmark:before, .btn-xmark:after {
  background-color: #333;
  width: 1px;
  height: 2.0625rem;
  top: -.125rem;
  left: .9375rem;
  content: ' ';
  position: absolute;
}

.btn-xmark:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-xmark:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn-bars {
  padding: .75rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn-bars > span {
  width: 100%;
  border-bottom: 1px solid #666;
}

.btn-action {
  color: #4C4C4C;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 50rem;
  border: 0.125rem solid #4C4C4C;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border 0.25, color 0.25s, -webkit-box-shadow 0.25s;
  transition: border 0.25, color 0.25s, -webkit-box-shadow 0.25s;
  transition: border 0.25, color 0.25s, box-shadow 0.25s;
  transition: border 0.25, color 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.btn-action:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #4C4C4C;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  -webkit-transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}

.btn-action:hover, .btn-action.active {
  color: #fff;
  border-color: #008FEE;
  -webkit-box-shadow: 0 0.625rem 1.875rem -0.75rem rgba(0, 143, 238, 0.7);
  box-shadow: 0 0.625rem 1.875rem -0.75rem rgba(0, 143, 238, 0.7);
}

.btn-action:hover:before, .btn-action.active:before {
  opacity: 1;
  background-color: #008FEE;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-action.btn-inverted {
  border-color: #fff;
}

.btn-social {
  color: #D9D9D9;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #D9D9D9;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-social .icon-container {
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-social:hover, .btn-social.active {
  color: #fff;
}

.btn-social:hover .icon-container, .btn-social.active .icon-container {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media (min-width: 992px) {
  .btn-social {
    font-size: 1.375rem;
    border-width: .125rem;
    height: 3.375rem;
    width: 3.375rem;
  }
}

.btn-primary {
  background-color: #00A2F3;
}

.btn-primary:hover:not(:disabled):not(.disabled), .btn-primary:active:not(:disabled):not(.disabled) {
  background-color: #0091da;
}

.ribbon {
  width: 6.875rem;
  height: 6.875rem;
  overflow: hidden;
  position: absolute;
}

.ribbon:before, .ribbon:after {
  z-index: -1;
  content: '';
  position: absolute;
  display: block;
  border: .3125rem solid #008940;
}

.ribbon .ribbon-shadow {
  width: 10rem;
  display: block;
  height: 2.625rem;
  position: absolute;
}

.ribbon .ribbon-shadow:before, .ribbon .ribbon-shadow:after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 1rem;
  width: 50%;
  height: 1.25rem;
  -webkit-box-shadow: 0 0.375rem 0.375rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.375rem 0.375rem rgba(0, 0, 0, 0.6);
}

.ribbon .ribbon-shadow:before {
  left: 0;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.ribbon .ribbon-shadow:after {
  right: 0;
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.ribbon .ribbon-label {
  width: 10rem;
  color: #fff;
  display: block;
  padding: .625rem 0;
  position: absolute;
  font-weight: 700;
  background-color: #00B359;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon.ribbon-top-left {
  top: -.625rem;
  left: -.625rem;
}

.ribbon.ribbon-top-left:before, .ribbon.ribbon-top-left:after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon.ribbon-top-left:before {
  top: 0;
  right: 0;
}

.ribbon.ribbon-top-left:after {
  bottom: 0;
  left: 0;
}

.ribbon.ribbon-top-left .ribbon-label, .ribbon.ribbon-top-left .ribbon-shadow {
  right: -.6875rem;
  top: 1.25rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes pasteIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes pasteIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.paste-in {
  -webkit-animation: pasteIn 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  animation: pasteIn 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@-webkit-keyframes btnSlideIn {
  from {
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes btnSlideIn {
  from {
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes btnSlideOut {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
}

@keyframes btnSlideOut {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
}

.separator {
  border-bottom: 1px solid #F1F1F1;
}

.separator.separator-lg {
  border-width: .25rem;
}

.pipe {
  height: 100%;
  border-right: 1px solid #F1F1F1;
}

.hero {
  position: relative;
  border-bottom: 1px solid #F1F1F1;
}

.hero > .container {
  padding: 2.25rem .9375rem;
  position: relative;
}

.hero .background {
  padding: 2.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero .background .hero-img {
  opacity: .05;
}

@media (min-width: 768px) {
  .hero .background .hero-img {
    opacity: .1;
  }
}

@media (min-width: 992px) {
  .hero .background .hero-img {
    opacity: .4;
  }
}

@media (min-width: 1200px) {
  .hero .background .hero-img {
    opacity: 1;
  }
}

.hero .content {
  max-width: 32.5rem;
  position: relative;
  z-index: 100;
}

.hero .list-hero {
  font-size: 1rem;
}

.hero .list-hero .list-group-item {
  border: 0;
  padding: .25rem .25rem;
  background-color: transparent;
}

.plans .plan {
  position: relative;
  margin-left: -1px;
  margin-top: 1rem;
  padding: .5rem .5rem;
}

@media (min-width: 768px) {
  .plans .plan {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .plans .plan {
    padding: 0;
  }
}

.plans .plan:first-child {
  margin-left: 0;
}

.plans .plan.plan-featured {
  z-index: 50;
  position: relative;
}

.plans .plan.plan-featured .plan-innerset {
  border-color: #008FEE;
}

.plans .plan.plan-featured .plan-header {
  color: #fff;
  background-color: #008FEE;
}

.plans .plan.plan-featured .plan-header .plan-row {
  border-color: transparent;
}

.plans .plan.plan-featured .plan-subheader {
  color: #fff;
  border-color: transparent;
  background-color: #007FDE;
}

.plans .plan-innerset {
  border-radius: .25rem;
  border: 1px solid #F1F1F1;
  overflow: hidden;
  -webkit-transition: border-color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: border-color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.plans .plan-row {
  text-align: center;
  border-top: 1px solid #F1F1F1;
}

.plans .plan-row:first-child {
  border-top: 0;
}

.plans .price-now {
  font-size: 1rem;
  margin-left: -.125rem;
  margin-right: -.125rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.plans .price-now .primary {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 0.8;
}

.plans .price-now .partial {
  padding-left: .125rem;
  padding-right: .125rem;
}

.plans .list-plan .list-group-item {
  border: 0;
  padding: .25rem 0;
}

.social {
  background-color: #F7F7F7;
}

.social .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social .social-icon {
  font-size: 2rem;
  line-height: 1;
}

.social .social-counter {
  width: 3.125rem;
  margin: .125rem;
  color: #969696;
  border: 1px solid #CDCDCD;
  border-radius: .1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .social .social-counter {
    width: 3.75rem;
  }
  .social .social-icon {
    font-size: 2.25rem;
  }
}

.chatbar {
  background-color: #00A2F3;
}

.chatbar .caption {
  margin: 0;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 992px) {
  .chatbar .caption {
    font-size: 2rem;
  }
}

.services .service {
  padding: 1.25rem 0;
}

@media (min-width: 576px) {
  .services .service {
    padding: 0;
  }
}

.services .service-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services .service-image .img {
  max-width: 100%;
}

.promotion .icon-container {
  position: relative;
  width: 1.875rem;
  height: 2rem;
  padding-bottom: .5rem;
  overflow: hidden;
}

.promotion .icon-container .background {
  color: #0090EF;
  font-size: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: -.5rem;
  bottom: 0;
}

.promotion .icon-container .icon {
  z-index: 10;
  color: #fff;
  font-size: 12px;
  position: relative;
}

.promotion .promotion-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promotion .promotion-text a {
  font-size: .75rem;
}

html {
  font-size: 16px;
}

body {
  color: #4C4C4C;
  font-size: .875rem;
  font-family: 'Roboto',-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  overflow-x: hidden;
}

.innerset.border-bottom {
  border-bottom: 1px solid #F1F1F1 !important;
}

.header {
  top: 0;
  z-index: 990;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.header.sticks {
  -webkit-box-shadow: 0 0.3125rem 0.9375rem 0 rgba(0, 143, 238, 0.08);
  box-shadow: 0 0.3125rem 0.9375rem 0 rgba(0, 143, 238, 0.08);
}

.nav-primary {
  border-bottom: 1px solid #F1F1F1;
}

.nav-primary .logo {
  display: block;
  padding: .5rem 0;
}

.nav-primary .logo .logo-img {
  height: 2.25rem;
}

@media (min-width: 576px) {
  .nav-primary .logo .logo-img {
    height: 3rem;
  }
}

@media (min-width: 1200px) {
  .nav-primary .logo {
    padding: 1rem 0;
  }
  .nav-primary .logo .logo-img {
    height: 3.75rem;
  }
}

.nav-primary .nav-main {
  z-index: 9900;
  font-size: 1rem;
  position: fixed;
  max-width: 20rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
  -webkit-box-shadow: 0 1.25rem 2.5rem rgba(0, 143, 238, 0.1);
  box-shadow: 0 1.25rem 2.5rem rgba(0, 143, 238, 0.1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-primary .nav-main > .nav {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-primary .nav-main .nav-item {
  width: 100%;
}

.nav-primary .nav-main .nav-item.nav-blue > .nav-link:before {
  background-color: #0B69FF;
}

.nav-primary .nav-main .nav-item.nav-blue > .nav-link .icon-container {
  color: #0B69FF;
}

.nav-primary .nav-main .nav-item.nav-purple > .nav-link:before {
  background-color: #A147FF;
}

.nav-primary .nav-main .nav-item.nav-purple > .nav-link .icon-container {
  color: #A147FF;
}

.nav-primary .nav-main .nav-item.nav-aqua > .nav-link:before {
  background-color: #47B0FF;
}

.nav-primary .nav-main .nav-item.nav-aqua > .nav-link .icon-container {
  color: #47B0FF;
}

.nav-primary .nav-main .nav-item.nav-red > .nav-link:before {
  background-color: #EB001B;
}

.nav-primary .nav-main .nav-item.nav-red > .nav-link .icon-container {
  color: #EB001B;
}

.nav-primary .nav-main .nav-item.nav-orange > .nav-link:before {
  background-color: #F79E1B;
}

.nav-primary .nav-main .nav-item.nav-orange > .nav-link .icon-container {
  color: #F79E1B;
}

.nav-primary .nav-main .nav-item.nav-green > .nav-link:before {
  background-color: #00B348;
}

.nav-primary .nav-main .nav-item.nav-green > .nav-link .icon-container {
  color: #00B348;
}

.nav-primary .nav-main .nav-item.nav-navy > .nav-link:before {
  background-color: #23599B;
}

.nav-primary .nav-main .nav-item.nav-navy > .nav-link .icon-container {
  color: #23599B;
}

.nav-primary .nav-main .nav-item.nav-default > .nav-link:before {
  background-color: #4C4C4C;
}

.nav-primary .nav-main .nav-item.nav-default > .nav-link .icon-container {
  color: #4C4C4C;
}

.nav-primary .nav-main .nav-link {
  padding: .5rem 2rem;
  position: relative;
}

.nav-primary .nav-main .nav-link:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: .125rem;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-primary .nav-main .nav-link:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.nav-primary .nav-main .nav-link .icon-container {
  border-radius: 50%;
  background-color: #F5F7FA;
}

@media (min-width: 1200px) {
  .nav-primary .nav-main {
    position: static;
    max-width: none;
    background-color: transparent;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
  }
  .nav-primary .nav-main > .nav {
    height: 100%;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .nav-primary .nav-main .nav-item {
    width: auto;
  }
  .nav-primary .nav-main .nav-link {
    height: 100%;
    padding: .5rem .9375rem;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-primary .nav-main .nav-link:before {
    display: none;
  }
}

.nav-primary.sidebar-onscreen .nav-main {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.nav-secondary .nav-support {
  z-index: 990;
  display: none;
  border-radius: .25rem;
  background-color: #fff;
  right: 4rem;
  top: 4.6875rem;
  position: fixed;
  width: 11.25rem;
  -webkit-animation: pasteIn 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  animation: pasteIn 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-box-shadow: 0 1rem 3rem -0.5rem rgba(0, 143, 238, 0.15);
  box-shadow: 0 1rem 3rem -0.5rem rgba(0, 143, 238, 0.15);
}

.nav-secondary .nav-support .nav {
  padding: .5rem 0;
}

.nav-secondary .nav-support .nav-link {
  width: 100%;
  padding: .675rem 1rem;
}

@media (min-width: 1200px) {
  .nav-secondary .nav-support {
    display: block;
    position: static;
    width: auto;
    height: 2.8125rem;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-secondary .nav-support .nav {
    padding: 0;
    height: 100%;
  }
  .nav-secondary .nav-support .nav-link {
    width: auto;
    padding: .5rem .625rem;
  }
}

.nav-secondary.support-onscreen .nav-support {
  display: block;
}

@media (min-width: 1200px) {
  .nav-secondary {
    border-bottom: 1px solid #F1F1F1;
  }
}

.footer {
  color: #D8D8D8;
  font-size: .8125rem;
  background-color: #303030;
}

.footer .title {
  color: #8E8E8E;
  font-weight: 700;
  font-size: .875rem;
}

.footer .text {
  line-height: 1.8;
}

.footer .payment .gateway {
  width: 5rem;
  height: 2.5rem;
  border: 1px solid #E2E2E2;
  border-radius: .3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer .separator {
  border-bottom-color: #292929;
}

.footer .copyright {
  color: #D8D8D8;
  font-size: .75rem;
}

.footer .copyright a {
  color: inherit;
}

.subscribe {
  background-color: #fff;
  padding: .5rem;
}

.subscribe .form-control {
  border: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
